<BasicDropdown @onClose={{this.onClose}} as |dd|>
  <dd.Trigger>
    <input
      aria-label="calendar"
      title="calendar"
      value={{this.formattedDate}}
    />
  </dd.Trigger>
  <dd.Content>
    <div>
      {{yield
        (hash actions=this.publicAPI.actions Header=(component "air-date-picker-dropdown-header" dd=dd))
      }}

      <div {{did-insert (fn this.setupAirDatePicker dd)}} {{will-destroy this.teardownAirDatePicker}} ></div>

      {{yield
        (hash actions=this.publicAPI.actions Footer=(component "air-date-picker-dropdown-header" dd=dd))
      }}
    </div>
  </dd.Content>
</BasicDropdown>