{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<AirDatePicker />

<h2>Air Picker Dropdown</h2>

<AirDatePickerDropdown @range={{true}} @autoClose={{true}}/>

<h2>Air Picker Dropdown</h2>

<AirDatePickerDropdown @autoClose={{true}}/>

{{outlet}}