<h2 id="title">Welcome to Ember</h2>

<AirDatePicker @initialSelectedDates={{this.date}} />

<h2>Welcome to Ember Range</h2>

<AirDatePicker @initialSelectedDates={{this.rangeDate}} @range={{true}} />

<h2>Air Picker Dropdown</h2>

<AirDatePickerDropdown
  @selectedDates={{this.rangeDate}}
  @range={{true}}
  @autoClose={{true}}
  @onDateSelect={{this.onDateRangeSelect}}
  as |dp|
>

  <dp.Header>
    <div>
      <input aria-label="calendar1" type="radio" />
      <label for="calendar1">Last 7 days</label>
    </div>
    <div>
      <input aria-label="calendar2" type="radio" />
      <label for="calendar2">Last 90 days</label>
    </div>
  </dp.Header>

  <dp.Footer>
    <button type="button">Apply</button>
  </dp.Footer>

</AirDatePickerDropdown>

<h2>Air Picker Dropdown</h2>

<AirDatePickerDropdown
  @selectedDates={{this.date}}
  @autoClose={{true}}
  @onDateSelect={{this.onDateSelect}}
/>