<h2>Air Picker Dropdown</h2>
<div style="display: flex; justify-content: center; align-items: center;">
  <AirDatePickerDropdown
    @selectedDates={{this.rangeDate}}
    @range={{true}}
    @autoClose={{false}}
    @updateOnConfirm={{true}}  
    @onDateSelect={{this.onDateRangeSelect}}
    @minDate={{this.minDate}}
    @maxDate={{this.maxDate}}
    @triggerComponent={{component "air-date-picker-dropdown-trigger"}}
    as |dp|
  >
    <dp.Trigger>
      <label for="calendar">Date Range</label>
      <input 
        aria-label="calendar" 
        title="calendar" 
        value={{dp.formattedDate}}         
      />
    </dp.Trigger>

    <dp.Header>
      <div class="margin">
        <div>
          <input aria-label="calendar1" type="radio" name="group1" {{ on 'click' (fn this.clickLastXDays dp 7) }}/>
          <label for="calendar1">Last 7 days</label>
        </div>
        <div>
          <input aria-label="calendar2" type="radio" name="group1" {{ on 'click' (fn this.clickLastXDays dp 15) }}/>
          <label for="calendar2">Last 15 days</label>
        </div>
        <div>
          <input aria-label="calendar3" type="radio" name="group1" {{ on 'click' (fn this.clickLastXDays dp 30) }}/>
          <label for="calendar2">Last 30 days</label>
        </div>
        <div>
          <input 
            aria-label="calendar3" 
            type="radio" 
            name="group1" 
            {{ on 'click' (action (mut this.showCustomInput) true) }} 
          />
          <label for="calendar2">Custom</label>
          {{#if this.showCustomInput}}
            <input 
              type="text" 
              placeholder="Custom Range" 
              value={{dp.unconfirmedFormattedDate}} 
            />
          {{/if}}
        </div>
      </div>
    </dp.Header>

    <dp.Footer>
      <div class="margin">
        <button type="button" {{on "click" dp.actions.applyDates}}>Apply</button>
      </div>
    </dp.Footer>

  </AirDatePickerDropdown>
</div>

<h2>Air Picker Dropdown</h2>

<AirDatePickerDropdown
  @selectedDates={{this.date}}
  @autoClose={{true}}
  @onDateSelect={{this.onDateSelect}}
/>

<h2 id="title">Welcome to Ember</h2>

<AirDatePicker @initialSelectedDates={{this.date}} />

<h2>Welcome to Ember Range</h2>

<AirDatePicker @initialSelectedDates={{this.rangeDate}} @range={{true}} />